<!DOCTYPE html>
<html>
<head>
    <style>
        .box {
            width: 100px;
            height: 100px;
            background: lightgray;
            display: inline-block;
            margin: 10px;
            transition: 0.3s;
        }

        .box1:hover {
            background: red;
        }

        .box2:hover {
            background: green;
        }

        .box3:hover {
            background: blue;
        }
    </style>
</head>
<body>

    <div class="box box1"></div>
    <div class="box box2"></div>
    <div class="box box3"></div>

</body>
</html>
